//Colors

//Primary
$Purple: hsl(259, 100%, 65%);
$LightRed: hsl(0, 100%, 67%);

//Neutral
$White: hsl(0, 0%, 100%);
$OffWhite: hsl(0, 0%, 94%);
$LightGrey: hsl(0, 0%, 86%);
$SmokeyGrey: hsl(0, 1%, 44%);
$OffBlack: hsl(0, 0%, 8%);

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $OffWhite;
}

.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

main {
    background-color: $White;
    max-width: 49rem;
    width: 100%;
    border-radius: 30px;
    padding: 2.5rem 2.5rem;
}

.form {
    display: flex;
    justify-content: left;
    align-items: center;

    &__scheme {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    label {
        color: $SmokeyGrey;
        font-size: .75rem;
        letter-spacing: 3px;
        font-weight: 400;
    }


    input {
        color: $OffBlack;
        padding: 1rem 1rem;
        border: 1px solid $LightGrey;
        border-radius: 5px;
        width: 80%;

        &::placeholder {
            color: $SmokeyGrey;
            font-size: 1.25rem;
        }
    }
}

.submit {
    display: flex;
    justify-content: end;
    align-items: center;

    &__greyBar {
        width: 100%;
        height: 1px;
        background-color: $LightGrey;
    }

    &__submitRow {
        position: relative;
    }

    button {
        background: #854dff;
        outline: none;
        padding: 1rem 1rem;
        border-radius: 50%;
        box-shadow: none;
        border: none;

        img {
         height: 35px;
        }
    }
}

.result {
    p {
        font-size: 64px;
        margin-top: .25rem;
        margin-bottom: .25rem;
        font-weight: 700;
        font-style: italic;
    }
}